mixin footer(options)

    footer.footer.pt-10.pb-5.mt-auto(class=options.footerBg, class=options.footerStyle)

        if block
            block
        else
            .container
                .row
                    .col-lg-3
                        .footer-brand
                            | Think Halcyon 
                            //- Insert logo
                        .mb-3 Build beautiful, functional websites
                        //- Social Media Links
                        .icon-list-social.mb-5
                            a.icon-list-social-link(href='javascript:void(0);')
                                i.fab.fa-instagram
                            a.icon-list-social-link(href='javascript:void(0);')
                                i.fab.fa-facebook
                            a.icon-list-social-link(href='javascript:void(0);')
                                i.fab.fa-github
                            a.icon-list-social-link(href='javascript:void(0);')
                                i.fab.fa-twitter

                    .col-lg-9
                        .row
                            .col-lg-3.col-md-6.mb-5.mb-lg-0
                                .text-uppercase-expanded.text-xs.mb-4 About
                                ul.list-unstyled.mb-0
                                    li.mb-2
                                        a(href="aboutJo.html") About Jo
                                    li.mb-2
                                        a(href="aboutThinkHalcyon.html") About Think Halcyon
                                    li.mb-2
                                        a(href="faq.html") FAQs

                            .col-lg-3.col-md-6.mb-5.mb-lg-0
                                .text-uppercase-expanded.text-xs.mb-4 Read More
                                ul.list-unstyled.mb-0
                                    li.mb-2
                                        a(href="blog.html") Blog
                                    li.mb-2
                                        a(href="pricing.html") Pricing
                                    //- li.mb-2
                                    //-     a(href="resources.html") Resources


                            .col-lg-3.col-md-6.mb-5.mb-md-0
                                .text-uppercase-expanded.text-xs.mb-4 Contact
                                ul.list-unstyled.mb-0
                                    li.mb-2
                                        a(href="contact.html") Contact
                                    li.mb-2
                                        a(href="scheduler.html") Schedule a Consultation
                                    li.mb-2
                                        a(href='javascript:void(0);') Client Portal (coming soon!)

                            .col-lg-3.col-md-6
                                .text-uppercase-expanded.text-xs.mb-4 Legal
                                ul.list-unstyled.mb-0
                                    li.mb-2
                                        a(href="privacy.html") Privacy Policy
                                    li.mb-2
                                        a(href="termsOfService.html") Terms and Conditions
                                
                hr.my-5

                .row.align-items-center

                    .col-md-6.small
                        | Copyright &copy; 2020 Think Halcyon, LLC
                    .col-md-6.text-md-right.small
                        a(href="privacy.html") Privacy Policy
                        | 
                        | &middot;
                        | 
                        a(href="termsOfService.html") Terms &amp; Conditions
