extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'About'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content.pt-10
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-3 About Think Halcyon
                        p.page-header-text A Web Development team dedicated to building websites for small businesses and entrepreneurs

    //- * * * * * * * * * * *
    //- * * Text Section  * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-10

                    h2.mb-4 A quick guide to our company culture and history
                    p Think Halcyon, LLC was formally established on November 19, 2019 by Jonayah Marie Jackson.  Prior to that, it was a small, one woman show since 2013.  Jo would use the skills that she picked up along the years to build and update websites, create flyers and event programs, and to help create content for her clients.  Utilizing her love of graphic design and web development, she created Think Halcyon as a place where she can offer her services as a professional and not just as a hobby for friends.
                    p Early on in her career, Jo found that there was a very high need for small business owners looking to create a name for themselves online, more so than there was for graphic design.  As the months went on, Jo narrowed the focus of the business to specialize in web development with an eye for aesthetics and function.  While she no longer accepts graphic design contracts, she leverages her knowledge of it to inform how she creates stunning websites.
                    p.mb-0 Jo's love of creating beautiful sites led her to use services and programs like Squarespace, WordPress, Ghost (for blogging), etc.  And after completing a course in Software Engineering at Columbia University in 2020 to brush up on her skillset, she currently also creates custom websites for clients employing the MERN stack using HTML, CSS, JavaScript, Mongoose, Express, React, and Node.

                    <br />
                    
                    .card.bg-light.shadow-none
                        .card-body
                            h6 Still have questions?
                            ul.mb-0
                                li.text-italic Read through our most Frequently Asked Questions on our <a href="faq.html">FAQ page</a>.
                                li.text-italic Reach out to us with specific questions not answered here on this website through our <a href="contact.html">contact page</a>.


block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })