extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'About Jo'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover overlay overlay-60',
        pageHeaderBgImg: 'background-image: url(assets/img/AboutJo.jpg);',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content.pt-10
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-3 About Jo
                        p.page-header-text From simple landing pages to full stack web developer

    //- * * * * * * * * * * *
    //- * * Text Section  * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-10

                    h2.mb-4 Jonayah Marie Jackson
                    
                    p We're not all that different, you and I. I've been right where you are before. You have this amazing idea to start a brand new business, yet you have no idea where to start. It can be rather daunting at first. But, it doesn’t have to stop you from realizing your dreams.

                    p You might ask yourself, <em>how will I reach my clients?  Which website hosting service is right for me?  Where do I buy stock photos and do I need them?</em>  There are a thousand questions that will naw at you.  However, if you’re willing to take that leap of faith, that risk, and begin something that could add to your legacy or even just get you seen, I can help you on that journey.
                    
                    p At a young age, I got my start with graphic design.  For me, it was just a hobby, until it wasn’t.  I would make flyers, lookbooks, infographics, and more for my friends, my schools, my jobs, and then eventually my clients.  With an eye for design and making sure that everything was just right, I started my hand at website creation.  Particularly because I had to make my first website and do my own branding.

                    p People would frequently ask me, Jo, who made your website?  It looks amazing! With glee, I would tell them that I designed it myself.  And thus, I started taking my hobby more seriously.  What started out as a flyer here and there became a small business.

                    //- PUT IMAGE OR HEADER HERE

                    p I am of the belief that if there is a will, there is a way.  If you are looking to be your own boss, sell your own designs, promote your events, or even just get your resume out in the world with a dedicated webpage, I can help with that.  I’ve always liked working with websites and creating new systems for entrepreneurs or people looking to share their skillset with a wider audience.

                    p Building your online presence and your business is a long journey, but there’s no better way to begin than with an experienced guide.

                    <br />

                    .card.bg-light.shadow-none
                        .card-body
                            h5 Full-Stack Web Developer
                            p.text-italic Jo is a full-stack web developer leveraging a background in graphic design, project management, and data analysis/visualization in higher education.
                            p.text-italic Most recently, she earned a Certificate in Software Engineering from Columbia University. Effective at combining research and creativity to develop user-friendly applications that center education. Known among staff for beautiful visuals and data-driven deliverables for every project.
                            a.btn.btn-teal.btn-marketing.rounded-pill.lift.lift-sm(href="https://jonayah.dev", target="_blank" rel="noopener noreferrer") Read more


block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })