extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Blog Overview'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-primary',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container',
        navbarPosition: ''
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover overlay overlay-60',
        pageHeaderBgImg: 'background-image: url(https://images.pexels.com/photos/5082235/pexels-photo-5082235.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .page-header-content
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-3 Blog
                        p.page-header-text.mb-0 Browse posts, keep up to date, and learn more on our blog

    //- * * * * * * * * * * *
    //- * * Blog Overview * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            //- Featured Post
            a.card.post-preview.post-preview-featured.lift.mb-5(href='#!')
                .row.no-gutters
                    .col-lg-5
                        .post-preview-featured-img(style='background-image: url("https://source.unsplash.com/vZJdYl5JVXY/660x360")')
                    .col-lg-7
                        .card-body
                            .py-5
                                h5.card-title After bootcamp
                                p.card-text
                                    | How I'm doing after bootcamp and what my plans for the future are
                            hr
                            .post-preview-meta
                                img.post-preview-meta-img(src='https://source.unsplash.com/vTL_qy03D1I/100x100')
                                .post-preview-meta-details
                                    .post-preview-meta-details-name Jonayah Marie Jackson
                                    .post-preview-meta-details-date Nov 1 &middot; 6 min read
            //- Posts List
            .row
                //- post 1
                .col-md-6.col-xl-4.mb-5
                    a.card.post-preview.lift.h-100(href="selfCareBlogPost.html")
                        img.card-img-top(src='https://source.unsplash.com/KE0nC8-58MQ/660x360', alt='...')
                        .card-body
                            h5.card-title The Importance of Self-Care as a Freelancer
                            p.card-text
                                | If you don’t take care of yourself, then who will?  You need to make self-care a priority, especially if you are working for yourself. 
                        .card-footer
                            .post-preview-meta
                                img.post-preview-meta-img(src='https://source.unsplash.com/vTL_qy03D1I/100x100')
                                .post-preview-meta-details
                                    .post-preview-meta-details-name Jonayah Marie Jackson
                                    .post-preview-meta-details-date Mar 11 &middot; 3 min read
                //- post 2
                .col-md-6.col-xl-4.mb-5
                    a.card.post-preview.lift.h-100(href="passwordsBlogPost.html")
                        img.card-img-top(src='https://source.unsplash.com/hGV2TfOh0ns/660x360', alt='...')
                        .card-body
                            h5.card-title Keep Your Friends Close, But Your Passwords Closer
                            p.card-text
                                | I cannot stress this enough: you need to have a password protection app.
                        .card-footer
                            .post-preview-meta
                                img.post-preview-meta-img(src='https://source.unsplash.com/vTL_qy03D1I/100x100')
                                .post-preview-meta-details
                                    .post-preview-meta-details-name Jonayah Marie Jackson
                                    .post-preview-meta-details-date Apr 8 &middot; 3 min read
                //- post 3
                .col-md-6.col-xl-4.mb-5
                    a.card.post-preview.lift.h-100(href="wfhBlogPost.html")
                        img.card-img-top(src='https://source.unsplash.com/9l_326FISzk/660x360', alt='...')
                        .card-body
                            h5.card-title Working From Home Is Not the Same During a Pandemic 
                            p.card-text
                                | March 7th my boss told my team to "stay home.  We have no idea how long this COVID-19 thing is going to last and we don't know how bad it will be."  Boy oh boy, how right she was.
                        .card-footer
                            .post-preview-meta
                                img.post-preview-meta-img(src='https://source.unsplash.com/vTL_qy03D1I/100x100')
                                .post-preview-meta-details
                                    .post-preview-meta-details-name Jonayah Marie Jackson
                                    .post-preview-meta-details-date Apr 22 &middot; 4 min read
                
            //- //- Pagination
            //- nav(aria-label='Page navigation example')
            //-     ul.pagination.pagination-blog.justify-content-center
            //-         li.page-item.disabled
            //-             a.page-link(href='#!', aria-label='Previous')
            //-                 span(aria-hidden='true') «
            //-         li.page-item.active
            //-             a.page-link(href='#!') 1
            //-         li.page-item
            //-             a.page-link(href='#!') 2
            //-         li.page-item
            //-             a.page-link(href='#!') 3
            //-         li.page-item.disabled
            //-             a.page-link(href='#!') ...
            //-         li.page-item
            //-             a.page-link(href='#!') 12
            //-         li.page-item
            //-             a.page-link(href='#!', aria-label='Next')
            //-                 span(aria-hidden='true') »

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })