extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Contact'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .page-header-content.pt-10
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-3 Contact us
                        p.page-header-text Have questions? We're here to help!

    //- * * * * * * * * * * *
    //- * * Text Section  * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-8.text-center
                    h2 Leave us a message!
                    p.lead.mb-5 We'll get back to you as soon as possible.

            form#contactUs
                .form-row
                    .form-group.col-md-6
                        label.text-dark(for='inputName') Full name
                        input#inputName.form-control.py-4(type='text', placeholder='Full name')
                    .form-group.col-md-6
                        label.text-dark(for='inputEmail') Email
                        input#inputEmail.form-control.py-4(type='email', placeholder='name@example.com')
                .form-group
                    label.text-dark(for='inputMessage') Message
                    textarea#inputMessage.form-control.py-3(type='text', placeholder='Enter your message...', rows='4')
                .text-center
                    button.btn.btn-primary.btn-marketing.mt-4(type='submit') Submit Request

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })