extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Case Study'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover py-15',
        pageHeaderBgImg: 'background-image: url("assets/img/screenshots/EAscreenshot.png")',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .my-15.py-lg-10

    //- * * * * * * * * * * * * * *
    //- * * Case Study Content  * *
    //- * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-8
                    h1 Earthworks Acupuncture
                    p.lead An advocate for transforming alternative healthcare to become affordable and accesible for all.
                    a.btn.btn-teal.btn-marketing.rounded-pill.lift.lift-sm(href="https://www.earthworksacu.org" target="_blank" rel="noopener noreferrer") Live Preview
                    hr
                    p Founder and CEO, Joy Rosa, was in need a website redesign for her acupuncture business that left a lasting impression on her clients and the communities that she serves. Joy needed a central hub for her services, a place to house all of her blog posts, a site to sell her wares, and an advertising machine to show off her videos and reach new clients.  We worked hand in hand with Joy to meet her needs and create a beautiful, yet functional website that she could be proud to show her friends, family, and clients.
                
                //- Main Image
                .col-lg-10
                    img.img-fluid.rounded-lg.shadow.my-5(src='assets/img/portfolio-images/EA/Earthworks-54.jpg')
                
                //- Second Section
                .col-lg-8
                    h4 Meeting Joy's Needs
                    p From our consultation, we knew that Joy previously had an old WordPress website that she wanted to redesign. Looking to try something new and easily accesible for her to make changes, we decided to switch to Squarespace and create a new visually pleasing website there.
                    p.pb-5 The website that Joy had in mind had several must have features, as well as some added flare.  She needed: a store, a blog, pages to share community resources, dedicated services pages, social media integration, embedded YouTube videos, and photos from her last photo shoot.
                .col-lg-10
                    .card-columns.card-columns-case-study.mb-5
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/EA/EA-item.jpg')
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/EA/Herbal-Consultations-Thumbnail.jpg')
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/EA/Benefits-of-Qi-Gong-Thumbnail.jpg')
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/EA/Earthworks-50.jpg')
                
                //- Testimonial
                .col-lg-8
                    .card.bg-primary-soft.text-primary.text-center.mb-5
                        .card-body
                            p.card-text.lead "I LOVE the new website! Jo really heard my vision and made it happen and then went above and beyond!"
                    
                    //- Third Section
                    h4 Benchmarks &amp; Performance Metrics
                    p After our planning meetings and the finalized content, we had our marching orders for building Joy the website she's always wanted for Earthworks Acupuncture. With her wishes in mind, we decided to focus on five key areas for her website redesign:
                
                    ul.fa-ul
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | A working eCommerce site to sell apparel and herbal remedies
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | An educational blog that was easy to maintain and update
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | Helpful community resource pages to share much needed health and wellness information  
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | A central location to find all of her online content (social media, newsletters, YouTube videos)
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | A beautiful representation of her work with the community
                    p And we think it came out rather well!
                    //- hr.my-5

                    //- .text-center
                    //-     a.btn.btn-transparent-dark.btn-marketing.rounded-pill(href='sqsPortfolio.html') Go Back




block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })