extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Basic Page'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content.pt-10
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-3 Frequently Asked Questions
                        p.page-header-text Answering your questions

    //- * * * * * * * * * * *
    //- * * Text Section  * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.my-10
                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark Can I use SB UI Kit Pro for clients?
                            p.text-dark-50 Yes! You can use SB UI Kit Pro for client projects. There are two types of licenses available depending on what you're trying to do.
                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark Is there a money back guarantee?
                            p.text-dark-50 Yes! If you're not happy with your product then we will give you your money back.
                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark Do I get free updates?
                            p.text-dark-50 All of Start Bootstrap's premium products will come with updates for feature additions, bugfixes, and other small updates.
                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark Does it work front end frameworks?
                            p.text-dark-50 When purchasing an HTML based product from Start Bootstrap, you get the HTML and CSS which you can bring into any framework.
                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark Do I get free updates?
                            p.text-dark-50 All of Start Bootstrap's premium products will come with updates for feature additions, bugfixes, and other small updates.
                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark Does it work front end frameworks?
                            p.text-dark-50 When purchasing an HTML based product from Start Bootstrap, you get the HTML and CSS which you can bring into any framework.

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })