extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'FAQs'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content.pt-10
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-3 Frequently Asked Questions
                        p.page-header-text Answering your questions

    //- * * * * * * * * * * *
    //- * * Text Section  * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.my-10
                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark What does Think Halcyon mean?
                            p.text-dark-50 The word halcyon means "reign of peace." My clients often come to me after they've tried to setup a website on their own with no luck. They're frustrated and need help. I want to support my clients as they return to a calmer and more peaceful outlook on running their business. I want them to think about peaceful and prosperous times while I handle the hard stuff.

                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark What are your rates?
                            p.text-dark-50 Each project will have a different quote depending on the type of work being done, your materials, and your budget. Please see my <a href="pricing.html">pricing</a> page for specific details. For a more detailed breakdown or to discuss nonprofit rates, let's chat in a <a href="scheduler.html">free consultation</a>.
                            p.text-dark-50 <strong>I work with all budget sizes.</strong>


                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark What kinds of payments do you accept?
                            p.text-dark-50 I accept accept Visa, MasterCard, Maestro, American Express, JCB, Discover, Diners Club, Union Pay, Google Pay, and Apple Pay.  I primarily take payments through Stripe.

                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark Can I hire you to maintain my website for me?
                            p.text-dark-50 Of course you can! If I have created a website for you and you simply don't have the time to update all the pages and add new content on the regular, then I'd be happy to take that over for you. Simply ask me about my monthly website maintenance service.  For more details, look through the <a href="pricing.html">pricing</a> page.

                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark  Can you make me a WordPress, Wix, or GoDaddy website?
                            p.text-dark-50 Unfortunately, no. I work solely with <a href="https://www.squarespace.com" target="_blank" rel="noopener noreferrer">Squarespace</a> and <a href="https://www.shopify.com" target="_blank" rel="noopener noreferrer">Shopify</a>, and custom websites hosted on <a href="https://www.netlify.com" target="_blank" rel="noopener noreferrer">Netlify</a> or <a href="https://www.heroku.com" target="_blank" rel="noopener noreferrer">Heroku</a>. 
                            p.text-dark-50 As a Squarespace Circle Member, I can offer you <strong> 20% off </strong> of your first annual subscription fee when you sign up.

                .col-lg-6.mb-5
                    .d-flex.h-100
                        .icon-stack.flex-shrink-0.bg-teal.text-white
                            i.fas.fa-question
                        .ml-4
                            h5.text-dark What should I do if I don't have good photos?
                            p.text-dark-50 Not everyone has the time or money to hire a professional photographer to take photos of them or their businesses. If that's the case, we can use high-quality, free stock images from websites like <a href="https://www.unsplash.com" target="_blank" rel="noopener noreferrer">Unsplash</a> or <a href="https://www.pexels.com" target="_blank" rel="noopener noreferrer">Pexels</a> until you can get photos of your own.
                            p.text-dark-50 <em>Please note: It is always better to use your own photos.</em>

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })