extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Case Study'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover py-15',
        pageHeaderBgImg: 'background-image: url("assets/img/screenshots/ICscreenshot.png")',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .my-15.py-lg-10

    //- * * * * * * * * * * * * * *
    //- * * Case Study Content  * *
    //- * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-8
                    h1 Impexcor Coffee
                    p.lead A wholesaler of genuine Rwandan Coffee Beans
                    a.btn.btn-teal.btn-marketing.rounded-pill.lift.lift-sm(href="https://www.impexcorcoffee.com" target="_blank" rel="noopener noreferrer") Live Preview
                    hr
                    p Yego Coffee founder and CEO, Francois Tuyishime, contracted Think Halcyon to redesign his partner comapny Impexcor Coffee's website. Unlike Yego Coffee, Impexcor Coffee specializes in selling genuine Rwandan whole bean green coffee to roasters and other businesses.  Francois needed a website that would do the following: display all of the Impexcor-owned washing stations throughout Rwanda, detail the stages that the coffee goes through from seed to brew, explain what services Impexcor provides, display a gallery of all the beautiful photos of the coffee farms and harvesting processes, advertise their documentary, and reach new clients.  We worked hand in hand with Francois to meet his needs and create a beautiful, yet functional website.
                
                //- Main Image
                .col-lg-10
                    img.img-fluid.rounded-lg.shadow.my-5(src='assets/img/portfolio-images/Impexcor/Documentary.png' alt="Documentary thumbnail")
                    //- .small.text-gray-500.text-center.my-5 Impexcor Coffee Documentary | <a href="https://www.youtube.com/watch?v=BJ-bxdzeyjY&feature=emb_imp_woyt" target="_blank" rel="noopener noreferrer">Watch here</a>
                

                //- Second Section
                .col-lg-8
                    h4 Meeting Francois' Needs
                    p From our consultation, we knew that Francois previously had an old website that he wanted to redesign. Looking to try something new and easily accesible for him to make changes, we decided to switch to Squarespace and create a new visually pleasing website there.
                    p.pb-5 The website that Francois had in mind had several must-have features.  He needed: a gallery, a list of all washing stations, dedicated services pages, embedded YouTube videos, and a way to display business documentation such as coffee certification.
                .col-lg-10
                    .card-columns.card-columns-case-study.mb-5
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Impexcor/AboutImpexcor.png' alt="About Impexcor header image")
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Impexcor/HandInCoffee.png' alt="Hand in coffee beans image")
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Impexcor/WashingStations.png' alt="Washing Stations header image")
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Impexcor/OurVision.png' alt="Our Vision section")
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Impexcor/Rendering.png' alt="Rendering Process")
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Impexcor/IClogo.png' alt="Impexcor Coffee logo and branding colors")
                
                //- Testimonial
                .col-lg-8
                    //- .card.bg-primary-soft.text-primary.text-center.mb-5
                    //-     .card-body
                    //-         p.card-text.lead "I LOVE the new website! Jo really heard my vision and made it happen and then went above and beyond!"
                    
                    //- Third Section
                    h4 Benchmarks &amp; Performance Metrics
                    p After our planning meetings and the finalized content, we had our marching orders for building Francois an updated website for Impexcor Coffee. With his wishes in mind, we decided to focus on five key areas for his website redesign:
                
                    ul.fa-ul
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | Embedding the Impexcor documentary from YouTube
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | Displaying their coffee certifications
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | Creating a gallery for all of their photos
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | A central location to learn more about all of their washing stations
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | Maintaining their original branding colors and logos
                    
                    p And we think it came out rather well!
                    hr.my-5

                    .text-center
                        a.btn.btn-transparent-dark.btn-marketing.rounded-pill(href='sqsPortfolio.html') Go Back




block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })