extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Case Study'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover py-15',
        pageHeaderBgImg: 'background-image: url("assets/img/portfolio-images/Kendra/HeaderParallax.png")',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .my-15.py-lg-10

    //- * * * * * * * * * * * * * *
    //- * * Case Study Content  * *
    //- * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-8
                    h1 Kendra Sims' Professional Website
                    p.lead An early career epidemiologist based in Portland, OR
                    a.btn.btn-teal.btn-marketing.rounded-pill.lift.lift-sm(href="https://www.kendrasims.com" target="_blank" rel="noopener noreferrer") Live Preview
                    hr
                    p Epidemiology student, Kendra Sims, was in need a professional website that would allow visitors to download her resume, learn more about her current research projects and publications, and find ticket information for her upcoming events. Kendra needed a website to advertise who she is as an academic, a central hub for her work, a place to house all of her blog posts and publications, and a place toconnect with her professionally.  We worked hand in hand with Kendra to meet her needs and create a beautiful, yet functional website that she could be proud to show her friends, family, and clients.
                
                //- Main Image
                .col-lg-10
                    img.img-fluid.rounded-lg.shadow.my-5(src='assets/img/portfolio-images/Kendra/Publications.png' alt="Publications Section")
                
                //- Second Section
                .col-lg-8
                    h4 Meeting Kendra's Needs
                    p From our consultation, we knew that Kendra wanted a minimalistic website that represented who she is professionally and was easily accesible for her to make changes.  With that in mind, we decided to use Squarespace and create a visually pleasing website there.
                    p.pb-5 The website that Kendra had in mind had several must-have features: a blog, buttons to download her resume, a contact page to get in touch with her, dedicated pages about her research, social media integration, a link for her upcoming GitHub repositories, and photos from her last photo shoot.

                .col-lg-10
                    .card-columns.card-columns-case-study.mb-5
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Kendra/AboutMyResearch.png' alt="About My Research Section")
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Kendra/Contact.png' alt="Contact Page")
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Kendra/DownloadCV.png' alt="Download Button")
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Kendra/GitHub.png' alt="GitHub Repository Coming Soon")
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Kendra/WhyThisMatters.png' alt="Why This Work Matters Section")
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/Kendra/JacksonHeartStudy.png' alt="The Jackson Heart Study blog post")
                
                //- Testimonial
                .col-lg-8
                    .card.bg-primary-soft.text-primary.text-center.mb-5
                        .card-body
                            p.card-text.lead "Jo's services and advice are already boosting my professional development as an early-career academic.""
                    
                    //- Third Section
                    h4 Benchmarks &amp; Performance Metrics
                    p After our planning meetings and the finalized content, we had our marching orders for building Kendra the perfect professional website. With her wishes in mind, we decided to focus on five key areas:
                
                    ul.fa-ul
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | A working calendar for her conferences, speaking events, and publication dates
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | A blog that was easy to maintain and update to make her research accessible to all
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | Integrating her logo and branding colors  
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | A central location to get in touch with her
                        li.mb-3
                            span.fa-li
                            i.fas.fa-check.mr-2.text-green
                            | A beautiful representation of what her work means for the communities that she serves
                    
                    p And we think it came out rather well!
                    
                    hr.my-5

                    .text-center
                        a.btn.btn-transparent-dark.btn-marketing.rounded-pill(href='sqsPortfolio.html') Go Back




block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })