extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Blog Post'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-primary',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container',
        navbarPosition: ''
    })

    //- * * * * * * * * * * *
    //- * * Blog Overview * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-10.col-xl-8
                    .single-post
                        h1 Working From Home Is Not the Same During a Pandemic
                        p.lead I cannot stress this enough: you need to have a password management app. There is simply no getting around it. Not today at least, with the amount of data breaches and identity theft in the air.
                        .d-flex.align-items-center.justify-content-between.mb-5
                            .single-post-meta.mr-4
                                img.single-post-meta-img(src='assets/img/AuthorPic.jpg', alt='Jonayah Marie Jackson\'s headshot')
                                .single-post-meta-details
                                    .single-post-meta-details-name Jonayah M. Jackson
                                    .single-post-meta-details-date April 8, 2020 &middot; 3 min read
                            .single-post-meta-links
                                a(href='https://twitter.com/intent/tweet?url=https://www.thinkhalcyon.com/passwordsBlogPost&text=')
                                    i.fab.fa-twitter.fa-fw
                                a(href='https://www.facebook.com/sharer/sharer.php?u=https://www.thinkhalcyon.com/passwordsBlogPost')
                                    i.fab.fa-facebook-f.fa-fw
                                //- a(href='#!')
                                //-     i.fas.fa-bookmark.fa-fw
                        img.img-fluid.mb-2(src='https://images.pexels.com/photos/1181414/pexels-photo-1181414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='Black woman using MacBookPro')
                        .small.text-gray-500.text-center Photo Credit: Pexels
                        .single-post-text.my-5
                            p Here’s some food for thought:  How many streaming services, delivery apps, newsletters, and social media accounts does the average person have?  A lot!  Now imagine that you’re running a business or setting out as a freelancer, you’ll rack up many more passwords to keep track of and to protect from people who would do you harm.  
                            p Not only is it a good idea for you to have a central location to keep track of the hundreds of passwords you use for your daily life, but it’s also best practice to keep those accounts safe with secure passwords.  I find that this is good advice for anyone and everyone, but it is imperative for people running a business.  Long gone will be the days of losing or forgetting your passwords, getting hacked, or having your identity stolen — well, it’s a good start at the very least, but being ahead of the curve is what’s important.

                            h4 Password safety + not having to remember dozens of random words

                            p 5 tips from <a href="https://www.cnet.com/how-to/9-rules-for-strong-passwords-how-to-create-and-remember-your-login-credentials/">CNET</a> to remember about password safety:

                            
                            ol.single-post-list 
                                li.single-post-list-item
                                    | Use a password manager to keep track of your passwords.
                                li.single-post-list-item
                                    | Avoid common phrases in your passwords.
                                li.single-post-list-item
                                    | The longer and more complex the password, the better secure it is (start with 8 characters).
                                li.single-post-list-item
                                    | Don’t recycle your passwords (I’m trying to get better at this one).
                                li.single-post-list-item
                                    | Use a two-factor authentication app if possible (an app that double checks if you are the user trying to sign in).

                                br


                            img.img-fluid.mb-2(src='https://images.pexels.com/photos/5076529/pexels-photo-5076529.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt="Black woman using a laptop")
                            .small.text-gray-500.text-center Photo Credit: Pexels

                            h4 Welceom to the Password Protected Club!

                            p Now that you are successfully initiated into the password protected club, here are two common apps that are particularly popular with my clients: <a href="https://1password.com/">1Password</a> and <a href="https://www.lastpass.com/">LastPass</a> (I’m not sponsored by either).
                            p So, remember the password to your websites and don’t share it with anyone you don’t trust.  Thanks!


                            hr.my-5

                            .text-center
                                a.btn.btn-transparent-dark.btn-marketing.rounded-pill(href="blog.html") Back to Blog Overview
block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })