extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = "Pricing"

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .page-header-content.pt-10
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-3 Pricing
                        p.page-header-text Options, starting rates, maintenance, and other details

    //- * * * * * * * * * * * *
    //- * * Pricing Section * *
    //- * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .text-center.mb-5
                h2 Web Development Rates
                p.lead Starting prices
            .row
                .col-lg-4.mb-5.mb-lg-0
                    .card.pricing.h-100
                        .card-body.p-5
                            .text-center
                                .badge.badge-light.badge-pill.badge-marketing.badge-sm Simple Website
                                .pricing-price
                                    sup $
                                    | 400
                                    <br />
                                    //- span.pricing-price-period /mo
                            ul.fa-ul.pricing-list
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Up to 5 static pages
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Community support
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Style customizer
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Custom components
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-circle.text-gray-200
                                    | Expanded utilities
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-circle.text-gray-200
                                    | Third-party integration
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-circle.text-gray-200
                                    | Layout options
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-circle.text-gray-200
                                    | eCommerce site
                .col-lg-4.mb-5.mb-lg-0
                    .card.pricing.h-100
                        .card-body.p-5
                            .text-center
                                .badge.badge-primary-soft.badge-pill.badge-marketing.badge-sm.text-primary Custom Website
                                .pricing-price
                                    sup $
                                    | 500
                                    <br />
                                    //- span.pricing-price-period /mo
                            ul.fa-ul.pricing-list
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Up to 7 pages
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Email and live chat support
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Style customizer
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Custom components
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Expanded utilities
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Third-party integration
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Layout options
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-circle.text-gray-200
                                    | eCommerce site
                .col-lg-4
                    .card.pricing.h-100
                        .card-body.p-5
                            .text-center
                                .badge.badge-light.badge-pill.badge-marketing.badge-sm eCommerce Website
                                .pricing-price
                                    sup $
                                    | 600
                                    <br />
                                    //- span.pricing-price-period /mo
                            ul.fa-ul.pricing-list
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark 10+ pages
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Email and live chat support
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Style customizer
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Custom components
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Expanded utilities
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Third-party integration
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Layout options
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark eCommerce site

            .mt-5.text-center
                a.btn.btn-primary.btn-marketing.rounded-pill(href="scheduler.html") Get Started

    hr.my-0

    //- * * * * * * * * * * * * * *
    //- * * * Web Maintenance * * *
    //- * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .text-center.mb-5
                h2 Website Maintenance
                p.lead Providing monthly website support for existing clients
            .row.no-gutters.align-items-center
                .col-lg-6.mb-5.mb-lg-0
                    .card.pricing
                        .card-body.p-5
                            .badge.badge-primary-soft.badge-pill.badge-marketing.badge-sm.text-primary Custom Site Maintenance
                            .pricing-price
                                sup $
                                | 20
                                span.pricing-price-period /hr
                            ul.fa-ul.pricing-list
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Email and live chat support
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Updates to static pages
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Uploading new content (blog posts, events, etc.)
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Troubleshooting website hosting issues
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Third-party integration maintenance
                        .card-footer.px-5
                            a(href='scheduler.html').d-flex.align-items-center.justify-content-between
                                | Get Started!
                                i.fas.fa-arrow-right
                .col-lg-6
                    .card.pricing.pricing-right.bg-gray-800
                        .card-body.p-5
                            .badge.badge-transparent-light.badge-marketing.badge-pill.badge-sm Customized
                            p.card-text.py-5 Need ongoing support or a customized plan? Contact us directly and we can work with you to find a plan that fits your specific needs.
                        .card-footer.bg-gray-900.px-5
                            a(href='contact.html').text-white-50.d-flex.align-items-center.justify-content-between
                                | Contact Us
                                i.fas.fa-arrow-right

    hr.my-0


    //- * * * * * * * * * * * *
    //- * * Company Section * *
    //- * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'pt-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: true,
        svgBorderFill: 'text-dark'
    })
        .container

            .row.align-items-center.mb-10
                .col-lg-6
                    .h4.font-weight-normal Ready to get started?
                    p.lead.mb-0.text-gray-500 Get in touch or schedule a free consultation.
                .col-lg-6.text-lg-right
                    a.btn.btn-primary.btn-marketing.rounded-pill.mr-3.my-2.lift.lift-sm(href="contact.html") Contact Us
                    a.btn.btn-white.btn-marketing.rounded-pill.my-2.lift.lift-sm(href="scheduler.html") Consultation

            .row
                .col-lg-6.z-1.mb-5.mb-lg-n5
                    a.card.text-decoration-none.h-100.lift(href="scheduler.html")
                        .card-body.py-5
                            .d-flex.align-items-center
                                .icon-stack.icon-stack-xl.bg-primary.text-white.flex-shrink-0
                                    i(data-feather='activity')
                                .ml-4
                                    h5.text-primary Are you ready to invest in yourself?
                                    p.card-text.text-gray-600 A website is an investment.  Invest in yourself so that you can cash in on your ROI later.
                .col-lg-6.z-1.mb-10.mb-lg-n5
                    a.card.text-decoration-none.h-100.lift(href='contact.html')
                        .card-body.py-5
                            .d-flex.align-items-center
                                .icon-stack.icon-stack-xl.bg-secondary.text-white.flex-shrink-0
                                    i(data-feather='code')
                                .ml-4
                                    h5.text-secondary Custom Branded Websites for Your Business
                                    p.card-text.text-gray-600 We develop and design everything from the way your buttons look to the functionality on your home page with your brand in mind.

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })