extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Blog Post'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-dark',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-dark',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: ''
    })

    //- * * * * * * * * * * *
    //- * * Blog Overview * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-10.col-xl-8
                    .single-post
                        h1 The Importance of Self-Care as a Freelancer
                        p.lead If you don’t take care of yourself, then who will?  You need to make self-care a priority, especially if you are working for yourself.  We are our worst critics.
                        .d-flex.align-items-center.justify-content-between.mb-5
                            .single-post-meta.mr-4
                                img.single-post-meta-img(src='assets/img/AuthorPic.jpg', alt='Jonayah Marie Jackson\'s headshot')
                                .single-post-meta-details
                                    .single-post-meta-details-name Jonayah M. Jackson
                                    .single-post-meta-details-date March 11, 2020 &middot; 3 min read
                            .single-post-meta-links
                                a(href='https://twitter.com/intent/tweet?url=https://www.thinkhalcyon.com/selfCareBlogPost&text=')
                                    i.fab.fa-twitter.fa-fw
                                a(href='https://www.facebook.com/sharer/sharer.php?u=https://www.thinkhalcyon.com/selfCareBlogPost')
                                    i.fab.fa-facebook-f.fa-fw
                                //- a(href='#!')
                                //-     i.fas.fa-bookmark.fa-fw
                        img.img-fluid.mb-2(src='https://images.pexels.com/photos/4047042/pexels-photo-4047042.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='Black woman does yoga next to her dog')
                        .small.text-gray-500.text-center Photo Credit: Pexels
                        .single-post-text.my-5
                            p A few years ago, I had a full-time job, two demanding side-hustles, college loans and credit cards to pay back, and family members that I had to take care of on top of that. In my day to day, I had no free time. No time in which I was not working. Even on vacation, my boss still expected me to attend meetings (virtually of course). This type of lifestyle was… is unsustainable.
 
                            p I would frequently get sick, forget things, never hang out with my friends, and rarely if ever take care of myself.  But, how could I take care of myself with so much on my plate?  Long story short, something had to give.  And it did.

                            h4 Tough Decisions

                            p It wasn’t until I was forced to make a tough decision for myself and my family, that I finally sat down and took stock of my situation.  I learned two things that year:
                            
                            ol.single-post-list 
                                li.single-post-list-item
                                    | You can’t do everything yourself (nor should you).  It’s okay to ask for help when you need it..
                                li.single-post-list-item
                                    | If you don’t take care of yourself, then who will?  You need to make <b>self-care</b> a priority, especially if you are working for yourself.  We are our worst critics. 

                                br


                            img.img-fluid.mb-2(src='https://cdn.mindful.org/Self-Care-Movement.jpg?q=80&fm=jpg&fit=crop&w=1400&h=875', alt="Black woman using a laptop")
                            .small.text-gray-500.text-center Photo Credit: <a href="https://www.mindful.org">Mindful.org</a>

                            h4 But what is self-care?

                            p <a href="https://www.mindful.org">Mindful.org</a> defines self-care as “the practice of taking an active role in protecting our own well-being, pursuing happiness, and having the ability, tools, and resources to respond to periods of stress so that they don’t result in imbalance and lead to a health crisis.”
                            p Remember when I was frequently getting sick and forgetting things?  Well that’s because I was not giving my well-being the due importance it deserves.  It is just as important to take a break to eat, to sleep through the night, to relax once in a while in order for you to function efficiently, as it is for you to run your business.  Running yourself ragged is not the answer.  If you can’t function, neither will your business.

                            h3 “Self-care is essential. It’s human work we all need. Not just the activists among us, but every one of us.”

                            p So if, like me, you find yourself in a situation where juggling a million things is the norm, take a step back and slow down.  Before you burnout, take a moment and do what heals you.  And that might look different for different people.  For me, self-care looks like the following:

                            ol.single-post-list 
                                li.single-post-list-item
                                    | <b>Hobbies</b> (running, dancing, reading, 3-D printing, cooking, etc)
                                li.single-post-list-item
                                    | <b>Entertainment</b> (video games, music, movies, etc) 
                                li.single-post-list-item
                                    | <b>Relaxation</b> (meditation, walks, yoga, SLEEPING, etc) 

                            p So take it from someone who’s been there and is still working on this herself, take the time you need to unwind and care for yourself.  At the end of the day, it’s not just you who suffers, it’s everyone in your life.


                            img.img-fluid.mb-2(src='https://cdn.mindful.org/Guided-meditation-michelle-maldonado.jpg?q=80&fm=jpg&fit=crop&w=1400&h=875', alt="Black woman hugging herself")
                            .small.text-gray-500.text-center Suggested Reading: <a href="https://www.mindful.org/the-five-rules-for-self-care-in-politically-charged-times/">The Five Rules for Self-Care</a>


                            hr.my-5

                            .text-center
                                a.btn.btn-transparent-dark.btn-marketing.rounded-pill(href="blog.html") Back to Blog Overview
block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })