extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Portfolio Large Grid'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .page-header-content
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-3 Squarespace Projects
                        p.page-header-text.mb-0 A showcase of Squarespace websites we've worked on in the past year

    //- * * * * * * * * *
    //- * * Portfolio * *
    //- * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container-fluid
            .row
                //- Anahsa
                .col-md-6.mb-5
                    a.card.card-portfolio.h-100(href='anahsaCaseStudy.html')
                        img.card-img-top(src='assets/img/screenshots/AnahsaScreenshot.png', alt='Anahsa, LLC Homepage Screenshot')
                        .card-body
                            .card-title Anahsa, LLC
                //- Kendra
                .col-md-6.mb-5
                    a.card.card-portfolio.h-100(href='kendraCaseStudy.html')
                        img.card-img-top(src='assets/img/screenshots/KSscreenshot.png', alt='Kendra Sims Homepage Screenshot')
                        .card-body
                            .card-title Kendra D. Sims
                //- EA
                .col-md-6.mb-5
                    a.card.card-portfolio.h-100(href='eaCaseStudy.html')
                        img.card-img-top(src='assets/img/screenshots/EAscreenshot.png', alt='Earthworks Acupuncture Homepage Screenshot')
                        .card-body
                            .card-title Earthworks Acupuncture
                //- Impexcor Coffee
                .col-md-6.mb-5
                    a.card.card-portfolio.h-100(href='impexcorCaseStudy.html')
                        img.card-img-top(src='assets/img/screenshots/ICscreenshot.png', alt='Impexcor Coffee Homepage Screenshot')
                        .card-body
                            .card-title Impexcor Coffee
                //- Elliott Educational Services
                .col-md-6.mb-5
                    a.card.card-portfolio.h-100(href='#!')
                        img.card-img-top(src='assets/img/screenshots/EESscreenshot.png', alt='Elliott Educational Services')
                        .card-body
                            .card-title Coming Soon!

    //- * * * * * * * * * * * * * * * *
    //- * * Contact Button Section  * *
    //- * * * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-xl-6.col-lg-8.col-md-10.text-center.py-5
                    h2 Ready to get Started?
                    p.lead.text-gray-500.mb-5 We'd love to hear from you about your custom website needs.  Contact us to schedule your free consultation now.
                    a(href='scheduler.html').btn.btn-primary.btn-marketing.rounded-pill Contact us

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })