extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Blog Post'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-primary',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container',
        navbarPosition: ''
    })

    //- * * * * * * * * * * *
    //- * * Blog Overview * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-10.col-xl-8
                    .single-post
                        h1 Working From Home Is Not the Same During a Pandemic
                        p.lead March 7th my boss told my team to "stay home.  We have no idea how long this COVID-19 thing is going to last and we don't know how bad it will be."  Boy oh boy, how right she was.
                        .d-flex.align-items-center.justify-content-between.mb-5
                            .single-post-meta.mr-4
                                img.single-post-meta-img(src='assets/img/AuthorPic.jpg', alt='Jonayah Marie Jackson\'s headshot')
                                .single-post-meta-details
                                    .single-post-meta-details-name Jonayah M. Jackson
                                    .single-post-meta-details-date April 22, 2020 &middot; 3 min read
                            .single-post-meta-links
                                a(href='#!')
                                    i.fab.fa-twitter.fa-fw
                                a(href='#!')
                                    i.fab.fa-facebook-f.fa-fw
                                a(href='#!')
                                    i.fas.fa-bookmark.fa-fw
                        img.img-fluid.mb-2(src='https://images.pexels.com/photos/5082235/pexels-photo-5082235.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt='Black woman using laptop in bed')
                        .small.text-gray-500.text-center Photo Credit: Pexels
                        .single-post-text.my-5
                            p March 7th my boss told my team to "stay home. We have no idea how long this COVID-19 thing is going to last and we don't know how bad it will be." Boy oh boy, how right she was. For the better part of a year and a half, we've been working from home 2 days out of the week. So we were ready, somewhat, when the pandemic hit (only in this regard). We, I, was used to working from home. But not like this. Nothing prepared any of us for the anxiety, isolation, and overwhelm.
                            p Working from home because you have a progressive boss is not the same thing as being on lockdown during an epidemic in the middle of the American epicenter.  As a native New Yorker, this lockdown was/is hard.  But when my dad got sick, it put everything into perspective.  Of course, as a Black man in his late-50s, he has underlying medical conditions and not nearly enough access to quality healthcare or a job that will let him work from home.  Long story short, he was sick for a month and there was a time when my brother and I thought we would lose another parent. 
                            p How do you go to yet another Zoom meeting that could have been an email when you’re losing family and friends, are sick yourself, are dealing with isolation and anxiety because you haven’t left your tiny apartment in days, have to take care of children, have to worry about whether or not you’ll have a job next month?  It’s a lot to take in and a lot to manage.  The tips and tricks that I used a month ago to stay productive when I’ve got a TV in front of me or a barking dog at my window are not what I use today.  I have to constantly put one proverbial foot in front of the other and tell myself this is not forever.  I have to be proactive in reaching out to family and friends.  I have to tell myself that it is okay to have irregular work hours and to take naps during the day because that way I’ll keep myself together.

                            h4 Trying to be productive from my bed

                            p So here are some actual things that I do now to help my “productivity” (read: mental health) during these chaotic times:
                            ol.single-post-list 
                                li.single-post-list-item
                                    | When I feel like I’m getting overwhelmed, I go and do something mundane, like washing dishes or tidying up my room.  It’s boring, but it gets my mind off of what was bothering me.
                                li.single-post-list-item
                                    | If I have to be on a Zoom meeting, I make sure (before the call) that my audio and video are working.  I cannot tell you how many times my technology has failed me since being on lockdown.
                                li.single-post-list-item
                                    | Take regular showers and get dressed.  I know it’s ridiculous to say, but it gives you some sense of normalcy.
                                li.single-post-list-item
                                    | At the beginning of every meeting, check-in with your teammates and find out how they’re doing, personally.  We could all use some human connection right now.  And every time I do this, our meetings are really productive.
                                li.single-post-list-item
                                    | Schedule out your days now more than ever.  I know other people are feeling the same way, but the days are starting to blend together.  When you get like this, it’s important to differentiate between the days and set deadlines and reminders.  Even if it’s just to call your college roommates on Sunday nights, it still breaks up the monotony.
                                br


                            img.img-fluid.mb-2(src='https://images.pexels.com/photos/4056475/pexels-photo-4056475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260', alt="Black woman reading a magazine next to her dog")
                            .small.text-gray-500.text-center Photo Credit: Pexels

                            h4 Recharge!

                            p So take a break, take a nap, and recharge your batteries.  Work whatever hours you need (if it’s possible) and try to mimic normalcy.  Fake it till you make it!  Hopefully, these new tips and tricks can help you get through these tough times.  It worked for me and I’m still here, on lockdown, in Brooklyn.

                            hr.my-5

                            .text-center
                                a.btn.btn-transparent-dark.btn-marketing.rounded-pill(href="blog.html") Back to Blog Overview
block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })